<div>
  <div>
    <h1>
      Photo Details
    </h1>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <img src="https://robohash.org/<%= @the_photo.image %>">
      </dd>
      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

  
      <dt>
        Owner
      </dt>
      <dd>
        <%= User.where({ :id => @the_photo.owner_id }).at(0).username %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
        Fans
      </dt>
      <dd>
        <% Like.where({ :photo_id => @the_photo.id }).each do |a_like| %>
          <%= User.where({ :id => a_like.fan_id }).at(0).username %>
        <% end %>
      </dd>
        
      <dt>
        Add a fan
      </dt>
      <dd>
        <% if Like.where({ :fan_id => @current_user.id, :photo_id => @the_photo.id }).length == 0 %>
        <form action="/insert_like" method="post">
          <input type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">
          <input type="hidden" value="<%= @current_user.id %>" name="query_fan_id">
          <button>Like</button>
        </form>
        <% else %>
          <a href="/delete_like/<%= Like.where({ :fan_id => @current_user.id, :photo_id => @the_photo.id }).at(0).id %>">
            Unlike
          </a>
        <% end %>
      </dd>

      <% if @current_user.id == @the_photo.owner_id %>

        <dt>
          Edit Photo
        </dt>
        <dd>
          <form action="/modify_photo/<%= @the_photo.id %>"  method="post" enctype="multipart/form-data">
          <div>
              <label for="image_box">
                Image
              </label>

              <input type="file" id="image_box" name="query_image" class="form-control">

              <label for="caption_box">
                Caption
              </label>

              <textarea id="caption_box" name="query_caption" rows="2"><%= @the_photo.caption %></textarea>
            
              <input type="hidden" id="comments_count_box" name="query_comments_count" value="<%= @the_photo.comments_count %>">
        
              <input type="hidden" id="likes_count_box" name="query_likes_count" value="<%= @the_photo.likes_count %>">
            
              <input type="hidden" id="owner_id_box" name="query_owner_id" value="<%= @current_user.id %>">

              <button>
                Update photo
              </button>
            </div>
          </form>
        </dd>

        <dt>
          Delete photo
        </dt>
        <dd>
          <a href="/delete_photo/<%= @the_photo.id %>">
            Delete this photo
          </a>
        </dd>

      <% end %>

    </dl>
  </div>
</div>


<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  <% Comment.where({ :photo_id => @the_photo.id }).each do |a_comment| %>
  <tr>
    <td>
      <%= User.where({ :id => a_comment.author_id}).at(0).username %>
    </td>

    <td>
      <%= a_comment.body %>
    </td>

    <td>
      <%= time_ago_in_words(a_comment.created_at) %> ago
    </td>
  </tr>
  <% end %>
</table>

<h3>Add a new comment</h3>

<form action="/insert_comment" method="post">
  <input type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">
  <input type="hidden" value="<%= @current_user.id %>" name="query_author_id">
  
  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>