<h1><%= @the_user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%= @the_user.private %></dd>

  <dt>Followers</dt>
  <dd>
    <%= FollowRequest.all.where({ :recipient_id => @the_user.id, :status => "accepted" }).count %>

      <div>
          <% if FollowRequest.all.where({ :recipient_id => @the_user.id, :sender_id => @current_user.id, :status => "accepted"}).length > 0 %>
            <a href="/delete_follow_request/<%= FollowRequest.all.where({ :recipient_id => @the_user.id, :sender_id => @current_user.id}).at(0).id %>">Unfollow</a>
          <% else %>
            <form action="/insert_follow_request" method="post">
              <input type="hidden" name="query_recipient_id" value="<%= @the_user.id %>">
              <input type="hidden" name="query_sender_id" value="<%= @current_user.id %>">
              <input type="hidden" name="query_status" value="accepted">

              <button>
                Follow
              </button>
            </form>
          <% end %>
      
    </div>

    <h4>Pending follow requests</h4>
    <ul>
      <% FollowRequest.where({ :recipient_id => @the_user.id, :status => "pending"}).each do |a_request| %>
        <li>
          <%= User.where({ :id => a_request.sender_id }).at(0).username %>
          <form action="/modify_follow_request/<%= FollowRequest.where({ :recipient_id => @the_user.id, :sender_id => a_request.sender_id, :status => "pending" }).at(0).id %>" method="post">
              <input type="hidden" name="query_recipient_id" value="<%= @the_user.id %>">
              <input type="hidden" name="query_sender_id" value="<%= @current_user.id %>">
              <input type="hidden" name="query_status" value="accepted">

              <button>
                Accept
              </button>
            </form>
            <form action="/modify_follow_request/<%= FollowRequest.where({ :recipient_id => @the_user.id, :sender_id => a_request.sender_id, :status => "pending" }).at(0).id %>" method="post">
                <input type="hidden" name="query_recipient_id" value="<%= @the_user.id %>">
                <input type="hidden" name="query_sender_id" value="<%= @current_user.id %>">
                <input type="hidden" name="query_status" value="rejected">

                <button>
                  Reject
                </button>
              </form>
        </li>
      <% end %>
    </ul>

  </dd>

  <dt>Following</dt>
  <dd><%= FollowRequest.all.where({ :sender_id => @the_user.id}).count %></dd>

  <% if @current_user.id == @the_user.id %>
    <dt>Edit user</dt>
    <dd>
      <form action="/modify_user/" method="post">
        <div>
          <input type="hidden" id="comments_count_box" name="query_comments_count" value="<%= @current_user.comments_count %>">
        </div>
        <div>
          <input type="hidden" id="email_box" name="query_email" value="<%= @current_user.email %>">
        </div>
        <div>
          <input type="hidden" id="likes_count_box" name="query_likes_count" value="<%= @current_user.likes_count %>">
        </div>

        <div>
          <input type="hidden" id="password_box" name="query_password" type="password">
        </div>
      
        <div>
          <input type="hidden" id="password_confirmation_box" name="query_password_confirmation" type="password">
        </div>

        <div>
          <label for="username_box">Username</label>
          <input id="username_box" name="query_username" value="<%= @current_user.username %>">
      
          <label for="private_box">Private</label>
          <input id="private_box" name="query_private" type="checkbox" value="1" <%= "checked" if @current_user.private %>>

          <button>
          Update user
        </button>
        </div>

      </form>
    </dd>
  <% end %>

</dl>

<nav>
  <ul>
    <li>
      <a href="/users/<%= @the_user.username %>">Profile</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/discover">Discover</a>
    </li>
  </ul>
</nav>

<h2>Own photos (<%= Photo.where({ :owner_id => @the_user.id }).count %>)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>

  <% Photo.where({ :owner_id => @the_user.id }).each do |a_photo| %>
    <tr>
      <td>
        <img src="https://robohash.org/<%= a_photo.image %>">
      </td>

      <td>
        <%= User.where({ :id => a_photo.owner_id }).at(0).username  %>
      </td>

      <td>
        <%= a_photo.caption %>
      </td>

      <td>
        <%= time_ago_in_words(a_photo.created_at) %> ago
      </td>

      <td>
        <%= Like.where({ :photo_id => a_photo.id }).count %>
      </td>

      <td>
        <a href="/photos/<%= a_photo.id %>">
          Show details
        </a>
      </td>
   </tr>
  <% end %>